ControlButtons {
    layout: horizontal;
}

LabelledTimer {
    layout: horizontal;
    background: $boost;
    height: 3;
    margin: 1;
    min-width: 50;
    padding: 1;
}

LabelledTimer.active {
    background: yellow 50%;
}

LabelledTimer.finished {
    background: green 50%;
}

LabelledTimer > Label {
    dock: left;
}

LabelledTimer > TimeDisplay {
    content-align: right middle;
    dock: right;
}
